.git
.github
**/bin
**/obj
.release
artifacts
runtime
TestResults
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.db
*.db-*
**/llm-providers.json
**/onebot.json
**/home.json
**/plugins_data
**/updates
_llmdump
